.OurBlog {
  background-color: var(--background-color-Light);
}

.OurBlog-heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 0.8s ease-out;
  transition-delay: 100;
}

.OurBlog-heading.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.OurBlog-mousemovingH1 {
  font-size: 5rem;
  color: var(--color-lit-visible-light);
  text-transform: capitalize;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    var(--dark-gray-color) 0%,
    var(--color-lit-visible-light) 50%,
    var(--dark-gray-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-align: center;
  transition: all 0.4s ease;
}

.OurBlog-mousemovingH1:hover {
  transform: translateY(-5px);
  background: linear-gradient(
    90deg,
    var(--color-lit-visible-light) 0%,
    var(--dark-gray-color) 50%,
    var(--color-lit-visible-light) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
}

.blog-card {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease, box-shadow 0.6s ease;
  border: none;
  outline: none;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: var(--background-color-Light);
}

.blog-card.animate {
  opacity: 1;
  transform: translateY(0);
}

.blog-card:hover {
  transform: translateY(-10px);
  transition-delay: 0s !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
}

.blog-card .card-img-top {
  transition: transform 0.3s ease;
}

.blog-card:hover .card-img-top {
  transform: scale(1.05);
}

.blog-card .btn {
  transition: all 0.3s ease;
}

.blog-card:hover .btn {
  background-color: var(--bg-primary);
  color: var(--background-color-Light);
}

.ourBlog-card-readmore-btn {
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
}

.ourBlog-card-readmore-btn:hover {
  background-color: var(--bg-primary);
  color: var(--background-color-Light);
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .OurBlog-mousemovingH1 {
    font-size: 4.5rem;
    letter-spacing: 0.04em;
    line-height: 1.2;
  }
}

@media (max-width: 992px) {
  .OurBlog-mousemovingH1 {
    font-size: 4rem;
    letter-spacing: 0.03em;
    line-height: 1.3;
  }
}

@media (max-width: 768px) {
  .OurBlog-mousemovingH1 {
    font-size: 3.5rem;
    letter-spacing: 0.02em;
    line-height: 1.3;
  }
}

@media (max-width: 576px) {
  .OurBlog-mousemovingH1 {
    font-size: 3rem;
    letter-spacing: 0.01em;
    line-height: 1.4;
  }
}

@media (max-width: 400px) {
  .OurBlog-mousemovingH1 {
    font-size: 2.5rem;
    letter-spacing: 0.005em;
    line-height: 1.5;
  }
}
