.contact-page {
  position: relative;
  background-color: #f8f9fa;
  z-index: 100;
}

.contact-hero-section {
  padding-top: 80px;
  background-image: linear-gradient(
    45deg,
    #f8f9fa 25%,
    var(--background-color-Light) 25%,
    var(--background-color-Light) 50%,
    #f8f9fa 50%,
    #f8f9fa 75%,
    var(--background-color-Light) 75%,
    var(--background-color-Light) 100%
  );
  background-size: 20px 20px;
}

.contact-form {
  backdrop-filter: blur(10px);
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  padding: 0.5rem 1rem !important;
}

.nav-link:hover {
  color: var(--bg-primary) !important;
}

.form-control {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  transition: box-shadow 0.3s ease-in;
}

.form-control:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--background-color-Light) inset !important;
  border: 1px solid #e0e0e0 !important;
}

.form-control:-moz-autofill {
  box-shadow: 0 0 0 1000px var(--background-color-Light) inset !important;
  border: 1px solid #e0e0e0 !important;
}

.form-control:focus:-webkit-autofill {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 0 0 30px var(--background-color-Light) inset !important;
  border: 1px solid #e0e0e0 !important;
}

.form-control:focus:-moz-autofill {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 0 0 1000px var(--background-color-Light) inset !important;
  border: 1px solid #e0e0e0 !important;
}

.form-control:focus {
  border-color: var(--bg-primary);
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-out;
}

@media (max-width: 768px) {
  .contact-hero-section {
    padding-top: 60px;
  }

  .contact-form {
    margin: 0 15px;
  }
}
